<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Remove WebDAV module that blocks PUT/DELETE methods -->
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    
    <!-- Remove WebDAV handler that interferes with REST API -->
    <handlers>
      <remove name="WebDAV" />
      <add name="FlaskHandler" path="*" verb="GET,HEAD,POST,PUT,DELETE,PATCH,OPTIONS" 
           modules="FastCgiModule" 
           scriptProcessor="C:\inetpub\wwwroot\MeetingsAI\venv\Scripts\python.exe|C:\inetpub\wwwroot\MeetingsAI\venv\lib\site-packages\wfastcgi.py" 
           resourceType="Unspecified" 
           requireAccess="Script" />
    </handlers>

    <defaultDocument>
      <files>
        <add value="flask_app.py" />
      </files>
    </defaultDocument>

    <rewrite>
      <rules>
        <rule name="FlaskApp" stopProcessing="true">
          <match url="^(.*)$" />
          <action type="Rewrite" url="flask_app.py/{R:1}" />
        </rule>
      </rules>
    </rewrite>

    <httpErrors errorMode="Detailed" />
    
    <!-- Security settings for REST API -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="524288000" maxQueryString="32768" />
        <verbs>
          <add verb="GET" allowed="true" />
          <add verb="POST" allowed="true" />
          <add verb="PUT" allowed="true" />
          <add verb="DELETE" allowed="true" />
          <add verb="PATCH" allowed="true" />
          <add verb="OPTIONS" allowed="true" />
          <add verb="HEAD" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
    
    <!-- HTTP Response Headers for CORS -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,PATCH,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type,Authorization,X-Requested-With" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="flask_app.app" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\MeetingsAI" />
  </appSettings>

  <system.web>
    <httpRuntime maxRequestLength="512000" executionTimeout="3600" />
  </system.web>
</configuration>